<div class="task-section">
  <!-- Cabeçalho com título e filtro -->
  <div class="task-header">
    <h2>Tarefas Pendentes</h2>
    <select [value]="selectedFilter()" (change)="updateFilter($event)">
      <option value="todas">Todas</option>
      <option value="urgente">Urgentes</option>
      <option value="normal">Normais</option>
      <option value="concluidas">Concluídas</option>
      <option value="naoConcluidas">Não concluídas</option>
      <option value="excluidas">Excluidas</option>
    </select>

  </div>

  <!-- Lista de Tarefas -->
  <ul class="task-list">
    @for (task of filteredTasks(); track task.id) {
    <li class="task-card" [class.completed]="task.completed">

      @if (excluido) {
        <input type="checkbox" [checked]="task.completed" (change)="toggleCompletion(task)" disabled>
      } @else {
        <input type="checkbox" [checked]="task.completed" (change)="toggleCompletion(task)" >
      }
      

      <div class="task-content">
        <strong>{{ task.title }}</strong>

        @if (task.description) {
        <p>{{ task.description }}</p>
        }

        <div class="meta">
          @if (getSafeDate(task.dueDate)) {
          <span>📅 {{ formatDate(task.dueDate) }}</span>
          }

          <span class="tag" [class.red]="getPriority(task) === 'urgente'"
            [class.green]="getPriority(task) === 'normal'">
            {{ getPriorityLabel(getPriority(task)) }}
          </span>

          <span>
            @if (task.completed || excluido) {
            <button class="tag" class="btn-editar" (click)="abrirFormulario(task)" disabled>
              Editar
            </button>
            } @else {
            <button class="btn-editar" (click)="abrirFormulario(task)">
              Editar
            </button>
            }
          </span>
          @if(!excluido){
            <span>
            <button class="btn-delete" (click)="excluirTarefa(task)">
              Excluir
            </button>
          </span>
          }
          
        </div>
      </div>
    </li>
    } @empty {
    <li class="empty-message">Nenhuma tarefa encontrada</li>
    }
  </ul>
</div>


@if (mostrarOverley) {
<div class="modal-overlay" (click)="fecharFormulario($event)">
  <div class="modal-content">
    @if (tarefaEditando){
    <app-screen-edit [task]="tarefaEditando" (taskEditada)="salvarEdicao($event)" (fechar)="fecharFormulario()">
    </app-screen-edit>
    }
    @if (exibirConfirmacao) {
    <app-screen-confirm (acaoConcluida)="onEventoRecebido($event)" (fechar)="fecharFormulario()"></app-screen-confirm>
    }
  </div>
</div>
}